---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
{
    date: "En progreso",
    title: "Creación y desarrollo de leafly.tech",
    company: "Independiente",
    description:
      "Estoy desarrollando Leafly, una plataforma innovadora que automatiza el riego de plantas. Con Leafly, las plantas reciben la cantidad exacta de agua cuando lo necesitan, sin intervención manual. Este sistema inteligente ajusta automáticamente los niveles de riego según las condiciones de cada planta, ayudando a optimizar el cuidado de las mismas y garantizando su bienestar. Actualmente en progreso, Leafly busca facilitar la jardinería automatizada para todos.",
    link: "https://leafly.tech",
  },
  {
    date: "Abril 2024",
    title: "Creador de theaimuseum.tech",
    company: "Independiente",
    description:
      "Desarrollé TheAIMuseum, el primer museo con obras de arte generadas por inteligencia artificial. Este proyecto busca explorar y compartir las posibilidades artísticas de la IA en un entorno accesible para todos.",
    link: "https://theaimuseum.tech",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
